body {
    margin: 0;
    height: 100vh;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #3b82f6, #9333ea);
}

/* Стеклянная карточка */
.glass-card {
    background: rgba(255, 255, 255, 0.1);
    padding: 50px 60px;
    border-radius: 20px;

    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    border: 1px solid rgba(255, 255, 255, 0.2);

    text-align: center;
    color: white;

    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 42px;
    margin-bottom: 15px;
}

p {
    font-size: 18px;
    opacity: 0.9;
    margin-bottom: 30px;
}

/* Кнопка */
.btn {
    display: inline-block;
    padding: 14px 28px;
    font-size: 16px;
    color: white;
    text-decoration: none;

    background: linear-gradient(135deg, #06b6d4, #3b82f6);
    border-radius: 12px;

    transition: 0.3s ease;
}

.btn:hover {
    transform: scale(1.08);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
