body {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    background-color: #0f172a; /* тёмно-синий */
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 120px;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    opacity: 0.8;
}

.btn {
    display: inline-block;
    margin-top: 30px;
    padding: 14px 28px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    background: linear-gradient(135deg, #3b82f6, #9333ea);
    border-radius: 12px;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
